@using System.Text.RegularExpressions;
@model RoleRequestViewModel

@{
    ViewData["Title"] = $"{Model.UserModel.UserName} request";
    string roleController = Model.RoleName + "s";
    if (Model.RoleName.EndsWith("man"))
    {
        roleController = Model.RoleName.Substring(0, Model.RoleName.Length - 2) + 'e' + Model.RoleName.Last();
    }
    string roleAction = $"Grant{Model.RoleName}Role";
}

<div class="d-flex flex-column align-items-center mt-3 mb-3">

    <partial name="_UserWithRolesPartial" model="Model.UserModel" />
    <div class="text-center mt-3 mb-3 p-5 bg-primary border border-3 border-white rounded-5">
        <h2 class="text-center text-white mt-3 mb-3">
            Requested Role:
            <b>@Model.RoleName</b>
        </h2>
        <a class="btn btn-lg btn-success mx-2" asp-area="Admin" asp-controller="@roleController" asp-action="@roleAction"
           asp-route-userid="@Model.UserModel.Id" asp-route-roleRequestid="@Model.Id">
            Grant role
        </a>
        <a class="btn btn-lg btn-danger mx-2"
           asp-area="Admin" asp-controller="RoleRequests" asp-action="DeleteRequest" asp-route-id="@Model.Id">
            Deny role
        </a>
    </div>
</div>
