@model ReviewListModel
@{
    string imageUrl = Model.VehicleImageUrl ?? $"/img/VehicleTypes/{Model.VehicleType}.png";
}
<article class="m-1 mt-3 mb-3 text-break">
    <div class="d-flex flex-md-row flex-column justify-content-evenly review-hightlighted-container w-100 h-100 border border-5 border-dark rounded-4 basic-transition">

        <div class="text-center flex-grow-md-1 bg-dark bg-opacity-25">
            <img class="w-100 h-100" src="@imageUrl" alt="vehicleImg" />
        </div>
        <div class="container flex-grow-md-1 d-flex flex-column justify-content-evenly align-items-center bg-dark bg-opacity-10 ">
            <h2 class="text-center mt-2 mb-2">
                @Model.VehicleName
            </h2>
            <h6 class="text-center mt-2 mb-2">
                @Model.Title
            </h6>
            <p class="text-center mt-2 mb-2">
                @Model.Overview
            </p>
            <div class="text-center mt-2 mb-2">
                <a class="btn btn-primary" asp-area="" asp-controller="Reviews" asp-action="Details" asp-route-id="@Model.Id">Read Full Review</a>
            </div>
        </div>
    </div>

</article>
