@model OfferViewModel
@{
    ViewData["Title"] = $"{Model.Vehicle.Name}/{Model.Price}";
}
<section class="text-center">
    <h3 class="mt-3 mb-3">
        Offered price: @Model.Price
    </h3>
    <p class="mt-3 mb-3">
        @Model.Description
    </p>
    @if (Model.Status == OfferStatus.Accepted)
    {
        <div class="mt-3 mb-3">
            Bought from: @Model.SalesmanName
        </div>
    }
    <div class="mt-3 mb-3">
        Status: @Model.Status
    </div>
    <div class="d-flex mt-3 mb-3 justify-content-center p-2">
        <partial name="_VehicleMinPartial" model="@Model.Vehicle" />
    </div>
    @if (Model.Status == OfferStatus.Pending)
    {
        <div class="text-center mt-3 mb-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-lg btn-info" data-bs-toggle="modal" data-bs-target="#offerModal">
                Edit
            </button>

            <!-- Modal -->
            <div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-transparent border-0">
                        <div class="modal-body">
                            <partial name="_EditOfferPartial" model="@Model.OfferEditModel" />
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-lg btn-danger mx-2" asp-area="Importer" asp-controller="Offers" asp-action="Cancel" asp-route-id="@Model.Id">
                Cancel
            </a>
        </div>
    }
</section>

