@model VehicleViewModel
@{
    ViewData["Title"] = $"{Model.Brand} {Model.Model}";
    string imageUrl = Model.ImageUrl ?? $"/img/VehicleTypes/{Model.VehicleType}.png";
}

<section class="text-center">
    <input value="@Model.Price" id="price" hidden />
    <h1>
        @Model.Brand @Model.Model
    </h1>
    <div class="mt-3 mb-3">
        <p>
            @Model.Description
        </p>
        <p>
            @Model.VehicleType
        </p>
    </div>
    <div class="mt-3 mb-3">
        @if (Model.SalesmanId != null)
        {
            <h2>Seller: @Model.SalesmanName</h2>
            <h3 class="mt-3 mb-3">@Model.Price credits</h3>

        }
        else if (Model.OwnerId != null)
        {
            <h2>Owner: @Model.OwnerName</h2>
        }
    </div>
    <div class="text-center">
        @{
            var ratingAsInt = (int)Model.VehicleRating + 1;
            for (int i = 0; i < ratingAsInt; i++)
            {
                <span class="m-2 p-2">
                    <i style="font-size:45px;color:goldenrod" class="bi bi-star-fill"></i>
                </span>
            }
            for (int i = 0; i < 5 - ratingAsInt; i++)
            {
                <span class="m-2 p-2">
                    <i style="font-size:45px;color:goldenrod" class="bi bi-star"></i>
                </span>
            }
        }
        <h4>
            @Model.VehicleRating
        </h4>
        @if (Model.VehicleChangeRatingModel != null && Model.OwnerUserId == User.Id())
        {
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeRating">
                Change rating
            </button>
            <partial name="_ChangeRatingModal" model="@Model.VehicleChangeRatingModel" />
        }
    </div>
    <div>
        <img style="width:500px;height:400px" src="@imageUrl" />
    </div>
    <table class="table mt-3 mb-3">
        <thead>
            <tr>
                <td>
                    Year produced
                </td>
                <td>
                    Kilometers
                </td>
                <td>
                    Top speed
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.YearProduced
                </td>
                <td>
                    @Model.KilometersDriven
                </td>
                <td>
                    @Model.TopSpeed
                </td>
            </tr>
        </tbody>
    </table>
    @if (Model.SalesmanId != null)
    {
        <form asp-area="Owner" asp-controller="Vehicles" asp-action="Buy" asp-route-id="@Model.Id" method="post">

            <div class="text-center mt-3 mb-3">
                <button id="buyBtn" type="submit" class="btn btn-success btn-lg">
                    Buy
                </button>
            </div>
        </form>
        if (ViewBag.CanMakeOffer)
        {
            <div class="text-center mt-3 mb-3">
                <a class="btn btn-lg btn-secondary" asp-area="Owner" asp-controller="Offers" asp-action="Create" asp-route-vehicleId="@Model.Id">
                    Make an offer
                </a>
            </div>
        }
    }
</section>
<script src="~/js/Vehicles/canBuyVehicle.js"></script>