@model UserRegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center mt-3 mb-3">@ViewData["Title"]</h1>

<div class="row mt-3 mb-3">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form id="registerForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" placeholder="John" />
                <label asp-for="@Model.FirstName">First Name</label>
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" placeholder="Doe" />
                <label asp-for="@Model.LastName">Last Name</label>
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Username" class="form-control" aria-required="true" placeholder="johndoe" />
                <label asp-for="@Model.Username">Username</label>
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="@Model.Email">Email</label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="@Model.Password">Password</label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.Gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    @foreach (var gender in Model.Genders)
                    {
                        <option value="@gender">@gender</option>
                    }
                </select>
                <span asp-validation-for="@Model.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true"  />
                <label asp-for="@Model.ImageUrl">Image URL (optional)</label>
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" />
                <label asp-for="@Model.PhoneNumber">Phone Number (optional)</label>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
        <div class="text-center mt-3 mb-3">
            <h5>
                Already have an account?
                <a class="fw-bold text-decoration-none" asp-area="" asp-controller="Users" asp-action="Login">
                    Login
                </a>
            </h5>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
