@model VehiclesQueryModel
@{
    ViewData["Title"] = "My vehicles";
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.VehiclesCount /
    Model.VehiclesPerPage);
    var shouldButtonBeDisabled = Model.CurrentPage >= maxPage;
}

<h1 class="text-center">@ViewData["Title"]</h1>


<form id="form" method="get">
    <div class="row mt-5 mb-5">
        <div class="d-flex justify-content-between">

            <div class="form-group">
                <label asp-for="@Model.SearchTerm" class="form-label custom-label">Search Term</label>
                <input asp-for="@Model.SearchTerm" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.VehiclesPerPage" class="form-label custom-label">Vehicles Per Page</label>
                <select asp-for="@Model.VehiclesPerPage" class="form-select">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <label class="form-label custom-label">Vehicle Types</label>
                <div id="vehicleTypesDiv">

                    <input id="selectedVehicleTypes" asp-for="@Model.SelectedVehicleTypes" hidden />
                    <div class="form-check custom-checkbox-container">
                        <input class="custom-checkbox" type="checkbox" id="all" value="@null" name="all" />
                        <label class="custom-checkbox-label">All</label>
                    </div>
                    @foreach (var vehicleType in Model.VehicleTypes)
                    {
                        <div class="form-check custom-checkbox-container">
                            <input class="vehicle-types custom-checkbox" type="checkbox" id="@vehicleType.ToString().ToLower()" value="@vehicleType" name="@vehicleType.ToString().ToLower()" />
                            <label class="custom-checkbox-label">@vehicleType</label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.VehicleSorting" class="form-label custom-label">Sorting</label>
                <select asp-for="@Model.VehicleSorting" class="form-select">
                    @foreach (var sortingOption in Model.SortingOptions)
                    {
                        <option value="@sortingOption">@(string.Join(" ", Regex.Matches(sortingOption.ToString(), "[A-Z][a-z]*").Select(m => m.Value).ToArray()))</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary btn-lg @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-area="Reviewer"
               asp-controller="Vehicles"
               asp-action="Mine"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-vehiclesPerPage="@Model.VehiclesPerPage"
               asp-route-currentPage="@previousPage"
               asp-route-vehicleSorting="@((int)Model.VehicleSorting)"
               asp-route-selectedVehicleTypes="@Model.SelectedVehicleTypes"><i class="bi bi-arrow-left"></i></a>
        </div>

        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary btn-lg @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
               asp-area="Reviewer"
               asp-controller="Vehicles"
               asp-action="Mine"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-vehiclesPerPage="@Model.VehiclesPerPage"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-vehicleSorting="@((int)Model.VehicleSorting)"
               asp-route-selectedVehicleTypes="@Model.SelectedVehicleTypes"><i class="bi bi-arrow-right"></i></a>
        </div>
    </div>


    <div class="text-center btn-lg">
        <button type="submit" id="submitBtn" class="btn btn-primary btn-lg">Filter</button>
    </div>

</form>



@if (Model.VehiclesCount > 0)
{
    <section class="row">
        @foreach (var vehicle in Model.Vehicles)
        {
            <partial name="_VehiclePartial" model="@vehicle" />
        }
    </section>
}
else
{
    <h4 class="text-center mt-5">You don't own any vehicles!</h4>
}

<script src="~/js/Vehicles/selectVehicleTypes.js"></script>
