@model VehicleMinModel

@{
    string imageUrl = Model.ImageUrl ?? $"/img/VehicleTypes/{Model.VehicleType}.png";
}

<div class="col mt-3">
    <article class="card m-4 basic-transition custom-border-white-blue">
        <div class="text-center bg-dark bg-opacity-25" style="height:250px;">
            <img class="card-img-top h-100" src="@imageUrl" alt="vehicleImg" />
        </div>
        <div class="card-body text-center bg-dark bg-opacity-10">
            <h5 class="mt-1 mb-1 card-title">
                @Model.Name
            </h5>
            @if (Model.SalesmanId != null)
            {
                <p>
                    Sold by: @Model.SalesmanName
                </p>
            }
            else if (Model.ImporterId != null)
            {
                <p>
                    Imported by: @Model.ImporterName
                </p>
            }
            @*else if (Model.OwnerName != null)
            {
            <p>
            @Model.OwnerName
            </p>
            }*@
            <div>
                @if (Model.VehicleRating > VehicleRating.NotRated)
                {
                    var ratingAsInt = (int)Model.VehicleRating;
                    for (int i = 0; i < ratingAsInt; i++)
                    {
                        <span class="m-1 p-1">
                            <i style="font-size:15px;color:goldenrod" class="bi bi-star-fill"></i>
                        </span>
                    }
                    for (int i = 0; i < 5 - ratingAsInt; i++)
                    {
                        <span class="m-1 p-1">
                            <i style="font-size:15px;color:goldenrod" class="bi bi-star"></i>
                        </span>
                    }
                }
                else
                {
                    @for (int i = 0; i < 5; i++)
                    {
                        <span class="m-2 p-2">
                            <i style="font-size:15px;" class="bi bi-star opacity-50"></i>
                        </span>
                    }
                }
            </div>
            <div class="mt-2 mb-2">
                @Model.Price credits
            </div>
        </div>
    </article>
</div>
