@model OfferCreateModel
@{
    ViewData["Title"] = "Make offer";
}
<h1 class="text-center mt-4 mb-4">@ViewData["Title"]</h1>
<div class="row">
    <div class="text-center col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <section>
            <form asp-area="Salesman" asp-controller="Offers" asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Description" class="form-label col-form-label-lg">Description (not required)</label>
                    <textarea style="resize:none" asp-for="@Model.Description" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Description" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Price" class="form-label col-form-label-lg"></label>
                    <input type="number" asp-for="@Model.Price" class="form-control" id="price" name="Price" />
                    <span asp-validation-for="@Model.Price" class="small text-danger" id="priceValidation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Price" class="form-label col-form-label-lg">Listed for</label>
                    <input type="number" asp-for="@Model.InitialPrice" disabled class="form-control"  name="InitialPrice" />
                </div>
                <input asp-for="OfferorId" hidden/>
                <input asp-for="SalesmanId" hidden/>
                <input asp-for="VehicleId" hidden/>
                <input asp-for="InitialPrice" hidden/>
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-lg btn-success" id="submitBtn">Send</button>
                </div>
            </form>
        </section>
    </div>
</div>
<script src="~/js/Offers/canCreateOffer.js"></script>