@model OfferCreateModel

<section class="w-100 h-100">
    <form asp-area="Salesman" asp-controller="Offers" asp-action="Create" method="post">
        <article class="d-flex flex-column px-5 py-2 text-white bg-dark border border-5 border-light rounded-5">
            <h1 class="text-center mt-1 mb-3">Create offer</h1>
            <div class="form-group mb-3">
                <label asp-for="@Model.Description" class="form-label">Description (not required)</label>
                <textarea style="resize:none" asp-for="@Model.Description" class="form-control text-black"></textarea>
                <span asp-validation-for="@Model.Description" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.Price" class="form-label">Offered Price</label>
                <input type="number" asp-for="@Model.Price" class="form-control text-black" id="offeredPrice" name="Price" />
                <span asp-validation-for="@Model.Price" class="small text-danger" id="priceValidation"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.Price" class="form-label">Original Price</label>
                <input type="number" asp-for="@Model.InitialPrice" disabled class="form-control text-black" style="background-color:gray!important" name="InitialPrice" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.AvailableCredits" class="form-label">Available credits</label>
                <input type="number" asp-for="@Model.AvailableCredits" disabled class="form-control text-black" style="background-color:gray!important" name="AvailableCredits" />
            </div>
            <input asp-for="@Model.OfferorId" hidden />
            <input asp-for="@Model.SalesmanId" hidden />
            <input asp-for="@Model.VehicleId" hidden />
            <input asp-for="@Model.InitialPrice" hidden />
            <input id="returnUrl" asp-for="@Model.ReturnUrl" hidden />
            <div class="text-center mt-4 mb-4 d-flex justify-content-evenly">
                <div>
                    <button class="btn btn-lg btn-success" id="submitBtn">Create</button>
                </div>
                <div>
                    <button class="btn btn-lg btn-danger" id="cancelBtn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </article>
    </form>
</section>
<script src="~/js/Offers/createOfferPartial.js"></script>